.Languages{
    
}

.skills{
    padding-top: 5%;
}

.title{
    color: #65B61B;
}

.labelLanguage{
    font-size:10px !important; 
    margin-left:25px !important;
    margin-bottom: 1%;
}

.language{
    font-weight: bold;
    margin-left:20px;
}

